@import "../../variable";

.button {
  display: flex;
  justify-content: center;

  button {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    margin: 0 auto;
    background: $buttonBg;
    margin-top: 28px;
    margin-bottom: 64px;
    width: 296px;
    height: 56px;
    cursor: pointer;
    border-radius: 5px;
    color: $whiteColor;

    &:hover {
      background: $buttonBgHover;
    }
  }
}
