@import "../../../variable";

.detail-transit {
  position: relative;
  width: 100%;
  text-align: center;

  img {
    width: 134px;
    height: 116px;
    margin-top: 12px;

    @include mobile {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 53px;
      height: 45px;

      @include mobile {
        margin-bottom: unset;
      }
    }
    
    p {
      color: $whiteColor;
      font-size: $size20;
      margin-top: -5px;
    }
  }

  &:last-child {
    .content {
      img {
        width: 34px;
        height: 40px;
      }

      p {
        margin-top: 0px;
      }
    }
  }
}
