@import "../../variable";

.footer {
  background-color: $headerFooterBg;
  width: 100%;
  height: 128px;
  bottom: 0;
  list-style: none;
  display: flex;
  padding-left: 160px;
  align-items: center;
  font-size: $size11;
  color: $whiteColor;
  
  li {
    width: auto;
    margin-right: 45px;
  }
}
