// bg
$headerFooterBg: #414141;
$chartBg: #2e2e2e;
$yellowBg: #ffcc21;
$grayBg: #777777;
$buttonBg: linear-gradient(180deg, #ffcc21 0%, #ff963c 100%);

//text
$whiteColor: #ffffff;

//font-size
$size11: 11px;
$size12: 12px;
$size14: 14px;
$size15: 15px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size25: 25px;
$size50: 50px;

//hover
$buttonBgHover: linear-gradient(180deg, #fdc612 0%, #fab476 100%);
$textHover: #ff963c;

// margin top desktop
$mt56: 56px;
// margin top mobile
$mt20: 20px;
$mt30: 30px;

//border
$border: #707070;

// mixin

/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px; 

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}
